.art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 30px;
}

.texto-art {
  font-size: 25px;
  text-align: center;
  padding: 100px 0 0 0;
  color: white;
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
}
.card-art {
  max-width: 200px;

  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(-45deg, #000000 20%, #5e02a7 100%);
}

.card-art img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ffffff;
}

.card-text-art h3 {
  padding: 15px;
  color: #ffffff;
  font-family: sans-serif;
}
