.mode input {
  display: none;
}

.dark-mode {
  background-image: none;
}

.dark-mode .fundo-opc-2 {
  background: linear-gradient(-161.5deg, #664c9c 60%, #ffffff 60.5%);
}

.dark-mode .header {
  box-shadow: 0 4px 17px rgba(255, 255, 255, 0.31);
}

.dark-mode .sobre {
  background-color: #fff;
  color: #000000;
}

.dark-mode .projeto .texto-projeto {
  color: rgb(0, 0, 0);
}

.dark-mode .pc-home {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode .habilidade .texto-habilidade  {
  background-color: #fff;
  color: #000000;
}
.dark-mode .art .card__text{
    color: #000000;
}
.dark-mode .texto-art{
    color: #000000;
}
.dark-mode .art {
  background: linear-gradient(-164.5deg, #fff 50%, #664c9c 50.7%);
}
