.projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px 0px;
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
}

.anima-projeto{
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 5s, transform 5s;
}

.show-projeto{
  opacity: 1;
  transform: translateY(0);
}

.texto-projeto {
  font-size: 25px;
  text-align: center;
  padding: 100px 0 0 0;
  color: rgb(255, 255, 255);
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
}

.pulsar2 {
  animation: pulsar2 1s infinite alternate ease-in-out;
}

@-webkit-keyframes pulsar2 {
  0% {
    -webkit-transform: translateY(1em);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

.container {
  position: relative;
}

.container .card-projeto {
  position: relative;
  width: 300px;
  height: 350px;
  background: linear-gradient(-45deg, #000000 20%, #5e02a7 100%);
  border-radius: 20px;
  overflow: hidden;
}

.container .card-projeto:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff9a6c;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../image/projetos/parede.jpg");
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../image/projetos/fundo.jpg");
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../image/projetos/card4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card-projeto:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card-projeto:after {
  content: "";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
}

.container .card-projeto .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 21;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card-projeto:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container .card-projeto .imgBx img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card-projeto .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card-projeto:hover .contentBx {
  height: 210px;
}

.container .card-projeto .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card-projeto .contentBx .size,
.container .card-projeto .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card-projeto:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card-projeto:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card-projeto .contentBx .size h3,
.container .card-projeto .contentBx .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.container .card-projeto .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card-projeto .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 20px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card-projeto:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  margin-top: 10px;
}
