@media (max-width: 950px) {
    body {
        background-image: url('../image/fundo-mb.jpg');
    }

    .home {
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    .sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    
      .texto-sobre {
        max-width: none; /* Remove a largura máxima para ocupar a largura total da tela */
        margin: 10px; /* Ajusta a margem para telas pequenas */
      }

    .pc-sobre {
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .container {
        margin-bottom: 20px;
    }

    .card {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }

    .menu {
        margin-top: 10px;
    }

    .menu li {
        display: block;
        margin-bottom: 10px;
    }

    .menu a {
        color: #333;
    }


    .habilidade, .habilidades {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;

    }

    .projeto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .texto-projeto {
        text-align: center;

    }



    .container {
        margin: 20px;
    }
}


@media (max-width: 425px) {
    .home img {
        width: 70%;
    }
    .sobre{
        padding: 0;
        
    }
    .sobre img {
        width: 60%;
    }
    .texto-sobre {
    text-align: left;
      }
    .card-habilidade {
        display: none;
    }

    .projeto{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    

    .card-habilidade {
        max-width: 800px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-description {
        font-size: 14px;
    }

}